# Entorno virtual
venv/

# Caché de Python
__pycache__/
*.pyc

# Base de datos temporal de SQLite
*.db-journal

# PDF generado por la aplicación
reporte_paciente.pdf

# Archivos de configuración de VS Code
.vscode/

# Archivos del sistema
.DS_Store